@page "/Login"
@model LoginModel
@{
    ViewData["Title"] = "Login";
}

<h1>Đăng nhập</h1>

<form method="post">
    <div class="btn">
        <label for="userName">Tài Khoản:</label>
        <input type="text" id="userName" name="userName" />
    </div>
    <div class="btn">
        <label for="password">Mật khẩu:</label>
        <input type="password" id="password" name="password" />
    </div>
    <button type="submit">Đăng nhập</button>
</form>